<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="c-navigation__item {% if page.url == '/events/' %}is-active{% endif %}" href="{{ "/events/" | prepend: site.baseurl }}">Events</a>
    <a class="c-navigation__item {% if page.url == '/hacktruman/' %}is-active{% endif %}" href="{{ "/hacktruman/" | prepend: site.baseurl }}">HackTruman 2018</a> 
    <!-- <a class="c-navigation__item {% if page.url == '/codecomp/' %}is-active{% endif %}" href="{{ "/codecomp/" | prepend: site.baseurl }}">Code Competition 2018</a> -->
    <a class="c-navigation__item {% if page.url == '/robocode/' %}is-active{% endif %}" href="{{ "/robocode/" | prepend: site.baseurl }}">Robocode</a> 
    <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <a class="c-navigation__item {% if page.url == '/meetings/' %}is-active{% endif %}" href="{{ "/meetings/" | prepend: site.baseurl }}">Meeting Minutes</a>
  </div>
</nav>
